body{
  width:100%;
  font-size:.12rem;
  position:absolute;
  top:0;
  bottom:0;
  display:flex;
  flex-direction:column;
}

header{
  height:.4rem;
  background:#000;
  position:relative;
  color:#fff;
  .left{
     position:absolute;
     left:.1rem;
     top:12%;
     font-size:.2rem;
  }
  .tit{
    line-height:.4rem;
    font-size:.14rem;
    text-indent:.3rem;
  }
  .right{
     position:absolute;
     right:.1rem;
     top:12%;
     font-size:.2rem;
  }
}
section{
   flex:1;
   position:relative;
   .mark{
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     left:0;
     background:#000;
     opacity:.5;
   }
   .con{
     border-radius:5px;
     background:#fff;
     width:90%;
     height:70%;
     position:absolute;
     top:15%;
     left:5%;
     .banner{
       width:40%;
       height:auto;
       margin:.3rem 30% .1rem 30%;
       img{
         width:100%;
       }
     }
     p{
      text-align:center;
      line-height:.2rem;
      font-size:.14rem;
     }
     .xin{
       display:flex;
       flex-direction:column;
       width:80%;
       margin:.1rem 10%;
       .item{
         display:flex; 
         border-bottom:1px solid #ccc;
         padding:.1rem 0;
         .tu{
           height:auto;
           width:8%;
           margin:0 .1rem;
           img{
             width:100%;
           }
         }
         .txt{
           flex:7;
           ouline:none;
           border:0;
         }
       }
     }
     .loginBtn{
       width:80%;
       margin:.2rem 10%;
       height:.3rem;
       line-height:.3rem;
       text-align:center;
       color:#fff;
       border-radius:5px;
       background:green;
     }
   }
}